PORT_BACKEND=8080
PORT_KEYCLOAK=8081
PORT_APP_DB=5432

POSTGRES_URL=jdbc:postgresql://app-postgres:5432/nosql_lab1
POSTGRES_USER=nosql_lab1
POSTGRES_PASSWORD=nosql_lab1
POSTGRES_DB=nosql_lab1

KEYCLOAK_SERVER_URL=http://localhost:8081
KEYCLOAK_INTERNAL_URL=http://keycloak:8080
KEYCLOAK_REALM=nosql-lab1
KEYCLOAK_CLIENT_ID=nosql-lab1-client
KEYCLOAK_CLIENT_SECRET=victoria-secret-or-yours

KEYCLOAK_ADMIN=admin
KEYCLOAK_PASSWORD=admin
KC_DB_PASSWORD=password
